
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

}

.dashboard-header {
    position: relative;
    background-color: #509871;
    width: 100vw;
    height: 80px;
}

.head_title {
    margin-left: 15%;
    margin-top: 1%;
}

.dashboard-container1 {
    width: 70vw;
    background-color: #E3F3EC;
    align-content: center;
    height: auto;
    padding-bottom: 50px;

}
  
.empty-container {
    width: 70vw;
    background-color: #E3F3EC;
    align-content: center;
    height: 100vh;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

.property-title {
    font-size: 20px;
    text-align: center;
    font-style: italic;
    margin-right: 5%;
    margin-bottom: 2%;
}

.listing-wrapper {
    display: flex;
    position: relative;
    background-color: #DEDEDE;
    width: 57vw;
    margin-top: 3%;
    height: 170px;
}

.left-box .listing-image {
    width: 100%;
}

.listing-wrapper .left-box {
    position: relative;
    background-color: #ccc;
    width: 30%;

}

.listing-wrapper .middle-box {
    background-color: #DEDEDE;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-right-color: rgba(0, 0, 0, 0.212);
    border-right-style: solid;
    overflow: scroll;
    width: 40%;
    margin-top: 1.5%;
    margin-bottom: 1%;
    height: auto;


}
ul.middle {
    list-style: none;
    margin-left: 0%;
}

.listing-wrapper .right-box {
    background-color: #DEDEDE;
    overflow: scroll;
    font-size: 14px;
    line-height: 1.5em;
    list-style: none;
    padding-top: 1%;
}

.top-main {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.dashboard-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: black 1px solid;
    height: 20vh;
    font-size: 20px;
    width: 90%;
}

a.logout {
    position: absolute;
    color: white;
    text-decoration: none;
    right: 18%;
    top: 40%;
    font-size: 20px;
}
button.add-property {
    background-color: #8AEB92;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 2%
}

button.filter {
    background-color: #8CEB94;
    width: 90px;
    height: 45px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    margin: 12px;
}

button.reset {
    background-color: #3B5148;
    color: white;
    width: 90px;
    height: 45px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

#dash-filter{
    border-radius: 5px;
    border-color: #8ABEA5;
    border-style: solid;
    font-size: 20px;
    width: 100px;
    height: 50px;
    margin-left: 10px;
}



.dashboard-main {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    text-align: left;
    align-items: center;
    height: 100%;
}

.delete {
    position: absolute;
    right: 6px;
    top: 6px;
    height: 7%;

}